@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Raleway:wght@900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
}

svg {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px;
}

.content {
  max-width: 900px;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 20px;
}

.menu a {
  display: block;
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 34px;
  transition: all ease 0.3s;
  font-size: 20px;
  height: 68px;
  box-sizing: border-box;
}

.menu a:hover {
  background-color: #2D52FF;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #2D52FF;
  text-align: center;
  font-size: 54px;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-style: italic;
}
